application/src/main/java/gengen/generator/props/properties.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/properties/" targetNamespace="http://www.example.org/properties/">
    <complexType name="PropertyData">
    	<sequence>
    		<element name="ConstName" type="string" minOccurs="1"></element>
    		<element name="PropertyName" type="string" minOccurs="1"></element>
    		<element name="Description" type="string" minOccurs="1">
    		</element>
    	</sequence>
    </complexType>
</schema>